body{
    font-family: 'Work Sans', sans-serif;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.header{
    background-color: #F3C6BD;
    padding: 30px 0;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo > div:first-child{
    margin-right: 15px;
}

.logo-bold{
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo-regular{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}


.header-nav{
    display: flex;
    align-items: center;
}

.header-nav > div{
    margin-left: 60px;
}

.header-li{
    display: inline-block;
}

.header-li:not(:last-child){
    margin-right: 20px;
}

.header-li > a{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.header-li > a:hover{
    font-weight: bold;
}

.button{
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;;
    padding: 17px 28px;
    border-radius: 2px;
    cursor: pointer;
}

.button:hover{
    background: white;
    color: #3040C4;
    transition: 1s;
}



.what_is_it_about{
    background-color: #F4F5F7;
    padding: 77px 0;
}

.what_is_it_about-container{
    display: flex;
    justify-content: space-between;
}

.what_is_it_about-container > div{
    width: 555px;
    display: inline-block;
}

.what_is_it_about-bold{
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.what_is_it_about-regular{
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.who_is_it_for-bold{
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.who_is_it_for-regular{
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.logo_brend{
    background-color: #FFFFFF;
}

.logo_brend-container{
    padding: 30px 0 117px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
