body{
    font-family: 'Work Sans', sans-serif;
}

.container{
    max-width: 1140px;
    margin: auto auto;
}

.header{
    background-color: #F3C6BD;
    padding: 30px 0;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo > div:first-child{
    margin-right: 15px;
}

.logo-bold{
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo-regular{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}


.header-nav{
    display: flex;
    align-items: center;
}

.header-nav > div{
    margin-left: 60px;
}

.header-li{
    display: inline-block;
}

.header-li:not(:last-child){
    margin-right: 20px;
}

.header-li > a{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.header-li > a:hover{
    font-weight: bold;
}

.button{
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;;
    padding: 17px 28px;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover{
    background: white;
    color: #3040C4;
    transition: 1s;
}



.what_is_it_about{
    background-color: #F4F5F7;
    padding: 77px 0;
}

.what_is_it_about-container{
    display: flex;
    justify-content: space-between;
}

.what_is_it_about-container > div{
    width: 555px;
    display: inline-block;
}

.what_is_it_about-bold{
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.what_is_it_about-regular{
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.who_is_it_for-bold{
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.who_is_it_for-regular{
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.logo_brend{
    background-color: #FFFFFF;
}

.logo_brend-container{
    padding: 30px 0 117px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.busy{
    background: rgb(254, 249, 244);
    padding: 110px 0 105px;
}

.busy-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-mini{
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 25px;
}

.text-mini__blue{
    color: #0189D1;
}

.title-inner{
    font-weight: bold;
    font-size: 56px;
    max-width: 400px;
    margin-bottom: 30px;
}

.text-inner{
    font-size: 24px;
    max-width: 450px;
    margin-bottom: 40px;
}



.info{
    background: rgb(254, 249, 244);
    padding: 40px 0 105px;
}

.info-flex{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.info-p{
    max-width: 360px;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
}

.info-p > span{
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
}

.info-link{
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
}



.understand_section{
   background: rgb(237, 248, 251);
}

.understand-container{
    padding: 108px 0 110px;
}

.engage{
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    font-weight: bold;
    margin-bottom: 24px;
}

.understand{
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #2B292D;
    font-weight: bold;
    margin-bottom: 30px;
}

.early_text{
    width: 530px;
    margin: 0 auto;
}

.early{
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    margin-bottom: 34px;
    font-weight: 400;
}

.button_understand{
    margin-bottom: 111px;
    text-align: center;
}

.button_understand > button:last-child{
    background-color: #FFFFFF;
    color: #3040C4;
}

.wrapper_understand{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.item_img_understand > button{
    border: none;
    border-radius: 10px;
    width: 262px;
    height: 300px;
    background: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #2B292D;
    text-align: center;
    padding: 0 50px 0 50px;
}

.item_img_understand > button:hover{
    background: purple;
    color: #FFFFFF;
    transition: 1s;
}

.surfaces-container{
    padding: 90px 0 90px;
}


.grid-container{
    display: grid;
    grid-template-areas: 
    "one two three"
    "four five three"
    "four six seven";
    gap: 50px;
}

.grid-container > img{
    width: 100%;
    height: 100%;
}

.grid-container > img:nth-child(1){
    grid-area: one;
}

.grid-container > img:nth-child(2){
    grid-area: two;
}

.grid-container > img:nth-child(3){
    grid-area: three;
}

.grid-container > img:nth-child(4){
    grid-area: four;
}

.grid-container > img:nth-child(5){
    grid-area: five;
}

.grid-container > img:nth-child(6){
    grid-area: six;
}

.grid-container > img:nth-child(7){
    grid-area: seven;
}















@media(max-width: 1140px){
    .container{
        max-width: 950px;
    }



    .header{
        padding: 15px 0;
    }


    .what_is_it_about-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .what_is_it_about-container > div:nth-child(1){
        margin-bottom: 20px;
    }

    .what_is_it_about {
        padding: 30px 0;
    }

    
    .logo_brend-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .logo_brend-container > img{
        margin: 0 auto;
    }
    

    .busy{
        padding: 80px 0;
    }

    .busy-flex{
        flex-direction: column;
    }

    .busy-text{
        text-align: center;
    }

    .title-inner{
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .busy-text > div{
        margin-bottom: 37px;
    }

    .info-p{
        max-width: 260px;
    }

    .info-flex{
        display: grid;
        grid-area: 
        "one"
        "two"
        "three";
        justify-content: center;
        text-align: center;
    }

    .info-p{
        max-width: 360px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .info-flex > div:nth-child(1){
        grid-area: one;
    }
    .info-flex > div:nth-child(2){
        grid-area: two;
        display: none;
    }
    .info-flex > div:nth-child(3){
        grid-area: three;
        display: none;
    }


    .wrapper_understand{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .item_img_understand{
        text-align: center;
    }


    .grid-container{
        display: grid;
        grid-template-areas: 
        "one three"
        "two three"
        "four five"
        "four six";
    }

    .grid-container > img:nth-child(7){
        grid-area: seven;
        display: none;
    }

}