body{
    font-family: 'Work Sans', sans-serif;
}

.container{
    max-width: 1140px;
    margin: auto auto;
}

.header{
    background-color: #F3C6BD;
    padding: 30px 0;
}

.headers{
    background-color: #F3C6BD;
    padding: 30px 0;
}

.header-sticky{
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo > div:first-child{
    margin-right: 15px;
}

.logo-bold{
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo-regular{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}



.header-nav{
    display: flex;
    align-items: center;
}

.header-nav-menu{
    display: flex;
    align-items: center;
}

.checke{
    background: #2C3241;
    width: 18px;
    height: 2px;
    mix-blend-mode: normal;
    opacity: 0.6;
    transition: 500ms linear;
}

.checke:not(:last-of-type){
    margin-bottom: 4px;
}

.checkbox, .check-wrapper{
    display: none;
}

.header-nav-menu-ul{
    margin-right: 75px;
}

.header-li{
    display: inline-block;
}

.header-li:not(:last-child){
    margin-right: 20px;
}

.header-li > a{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.header-li > a:hover{
    font-weight: bold;
}

.button{
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;;
    padding: 17px 28px;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover{
    background: white;
    color: #3040C4;
    transition: 1s;
}




.header-wraper{
    display: flex;
    position: relative;
    padding-bottom: 50px;
}

.header-wraper > div:first-of-type{
    max-width: 750px;
    z-index: 1;
}

.header-wraper > div:last-of-type{
    position: absolute;
    top: 0;
    right: -50px;
    z-index: 0;
} 

.title{
    font-weight: bold;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 35px;
}

.header-text{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    max-width: 450px;
    margin-bottom: 55px;
}

.button-container > button:last-child{
    background-color: #FFFFFF;
    color: #3040C4;
    margin-left: 10px;
}



.what_is_it_about{
    background-color: #F4F5F7;
    padding: 77px 0;
}

.what_is_it_about-container{
    display: flex;
    justify-content: space-between;
}

.what_is_it_about-container > div{
    width: 555px;
    display: inline-block;
}

.what_is_it_about-bold{
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.what_is_it_about-regular{
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.who_is_it_for-bold{
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.who_is_it_for-regular{
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.logo_brend{
    background-color: #FFFFFF;
}

.logo_brend-container{
    padding: 30px 0 117px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.easily_find{
    position: relative;
}

.easily_find{
    display: flex;
    align-items: center;
}

.easily_find-eyes_img{
    position: absolute;
    left: 0;
}

.easily_find-sait_img{
    position: absolute;
    right: 0;
}

.easily_find-sait_img_too{
    display: none;
}

.easily_find-container{
    flex: auto;
}

.easily_find-items{
    padding: 35px 0;
}

.easily_find-items_padding{
    padding: 5px;
    transition: 2s;
}

.easily_find-text_img{
    display: flex;
    align-items: center;
}

.easily_find-img{
    margin-right: 15px;
}

.easily_find-text{
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #3142C6;
}

.easily_find-items > p{
    border-bottom: 3px solid #3142C6;
    max-width: 450px;
    height: 70px;
    box-sizing: border-box;
    margin-top: 8px;
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    display: none;
}










.manage{
    background: #FCF0E3;
    padding: 60px 0;
}

.manage-container{
    display: flex;
    justify-content: space-between;
}

.manage-container-text > div:first-child{
    margin: 0 auto;
    max-width: 460px;
}

.manage-container-text > div:last-child{
    box-sizing: border-box;
    background: white;
    padding: 30px 20px;
    width: 520px;
    border-bottom: 4px solid #0185D0;
}

.manage-title{
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    max-width: 450px;
    margin-bottom: 30px;
}

.manage-text{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    max-width: 460px;
    margin-bottom: 74px;
}

.manage-text-small{
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    max-width: 460px;
    margin-bottom: 25px;
}

.manage-text-small > span{
    font-weight: bold;
}

.manage-fase-text{
    display: flex;
    align-items: flex-start;
}

.manage-fase-text_text{
    font-size: 16px;
    line-height: 22px;
    color: #2B292D;
    max-width: 225px;
    margin-left: 10px;
}

.manage-fase-text_text > span{
    font-weight: bold;
}

.manage-line{
    margin-top: 24px;
    width: 520px;
    height: 4px;
    background: #0185D0;
    border-radius: 10px;
}





.busy{
    background: rgb(254, 249, 244);
    padding: 110px 0 105px;
}

.busy-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-mini{
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 25px;
}

.text-mini__blue{
    color: #0189D1;
}

.title-inner{
    font-weight: bold;
    font-size: 56px;
    max-width: 400px;
    margin-bottom: 30px;
}

.text-inner{
    font-size: 24px;
    max-width: 450px;
    margin-bottom: 40px;
}



.info{
    background: rgb(254, 249, 244);
    padding: 40px 0 105px;
}

.info-flex{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.info-p{
    max-width: 360px;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
}

.info-p > span{
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
}

.info-link{
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
}



.understand_section{
   background: rgb(237, 248, 251);
}

.understand-container{
    padding: 108px 0 110px;
}

.engage{
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    font-weight: bold;
    margin-bottom: 24px;
}

.understand{
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #2B292D;
    font-weight: bold;
    width: 550px;
    margin: 30px auto;
}

.early_text{
    width: 530px;
    margin: 0 auto;
}

.early{
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    margin-bottom: 34px;
    font-weight: 400;
}

.button_understand{
    margin-bottom: 111px;
    text-align: center;
}

.button_understand > button:last-child{
    background-color: #FFFFFF;
    color: #3040C4;
}

.wrapper_understand{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.item_img_understand{
    border: none;
    border-radius: 10px;
    background: #FFFFFF;
    padding: 22px 25px 33px 25px;
}

.item_img_understand > div{
    width: 212px;
    height: 245px;
    align-items: center;
    text-align: center;
}

.understand-img-text{
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #2B292D;
    margin-top: 22px;
}

.item_img_understand:hover{
    background: purple;
    color: #FFFFFF;
    transition: 1s;
}



.businesses_section{
    position: relative;
    padding: 40px 0;
}

.businesses_info{
    text-align: center;
}

.businesses_info > p:last-child{
    max-width: 750px;
    margin: 0 auto;
}

.businesses_img{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
}

.carusel{
    text-align: center;
    margin-top: 34px;
}

.slick-dotted.slick-slider{
    margin-bottom: 60px;
}

.carusel-title{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #2B292D;
}

.carusel-text{
    font-size: 16px;
    line-height: 24px;
    color: rgba(43, 41, 45, 0.6);
}

.slick-dots{
    margin-top: 38px;
    position: static;
}

.slick-dots li button:before{
    font-size: 16px;
    color: #da365f;
    opacity: 1;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #3142C5;
}




.about-item_container{
    max-width: 750px;
    margin: 0 auto;
}

.about-items_text{
    text-align: center;
}

.about-items_text > button{
    width: 248px;
    margin-bottom: 63px;
}

.about-items > div{
    display: flex;
    justify-content: space-between;
}

.about-items{
    border: 1px solid grey;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 20px;
}

.about-items > p{
    margin-top: 20px;
    display: none;
}

.active{
    transform: rotate(90deg);
    transition: 1s;
}

.toggleBg{
    background: #3141C5;
}

.toggleColor{
    color: white;
}






.surfaces-container{
    padding: 90px 0 90px;
}


.grid-container{
    display: grid;
    grid-template-areas: 
    "one two three"
    "four five three"
    "four six seven";
    gap: 50px;
}

.grid-container > img{
    width: 100%;
    height: 100%;
}

.grid-container > img:nth-child(1){
    grid-area: one;
}

.grid-container > img:nth-child(2){
    grid-area: two;
}

.grid-container > img:nth-child(3){
    grid-area: three;
}

.grid-container > img:nth-child(4){
    grid-area: four;
}

.grid-container > img:nth-child(5){
    grid-area: five;
}

.grid-container > img:nth-child(6){
    grid-area: six;
}

.grid-container > img:nth-child(7){
    grid-area: seven;
}



.bg-grey{
    background: #F4F5F7;
    padding: 73px 0;
}

.free-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.free-title{
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    margin-bottom: 10px;
}

.free-text{
    font-size: 22px;
    line-height: 32px;
    max-width: 550px;
    margin-bottom: 25px;
}

.free-input{
    width: 385px;
    padding: 13px 0 15px 12px;
    margin-right: 10px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    box-sizing: border-box;
    border-radius: 2px; 
    font-size: 18px;
}

.free-input:focus{
    outline: none;
}

.free-input::placeholder{
    font-size: 18px;
    color: #2B292D;    
}

.animation-img{
    animation-name: img;
    animation-duration: 3s;
    position: relative;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes img{
    0%{
        top: 0;
    }
    25%{
        top: -25px;
    }
    50%{
        top: -40px;
    }
    25%{
        top: -25px;
    }
    100%{
        top: 0;
    }
}





.footer-info{
    display: flex;
    justify-content: space-between;
    padding: 135px 0 60px;
}

.footer-info-logo{
    display: flex;
    align-items: center;
}

.footer-info-logo > div:first-child{
    margin-right: 15px;
}

.logo-bold{
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo-regular{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
}

.after-logo-text{
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
    max-width: 360px;
    padding: 25px 0;
}

.footer-black-link{
    padding-top: 15px;
    cursor: pointer;
}

.footer-black-link > a{
    text-decoration: none;
}

.footer-title{
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 15px;
}

.footer-list_ul{
    font-size: 18px;
    line-height: 45px;
    color: rgba(43, 41, 45, 0.6);
}

.footer-hr{
    height: 1px;
    width: 100%;
    background: #2B292D;
    opacity: 0.3;
}

.footer-bottom-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

.link-bottom > a {
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.link-bottom > a:not(:last-child){
    padding-right: 15px;
}

.icon-bottom{
    cursor: pointer;
}

.icon-bottom > img:not(:last-child){
    padding-right: 15px;
}

.footer-lists-adapt{
    display: none;
}

#up{
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: pink;
    padding: 20px;
    border-radius: 50%;
}

#up > i{
    color: white;
}







@media(max-width: 1140px){
    .container{
        max-width: 950px;
    }



    .header{
        padding: 15px 0;
    }

    .checkbox, .check-wrapper{
        display: block;
    }

    .header-nav-menu{
        display: none;
    }

    .header-nav{
        position: relative;
    }

    .check-wrapper{
        z-index: 2;
    }

    .checkbox{
        position: absolute;
        z-index: 3;
        display: block;
        width: 30px;
        height: 30px;
        opacity: 0;
    }

    .checkbox:checked ~ .check-wrapper>.checke:first-of-type{
        transform: rotate(45deg)  translate(2px, 2px);
    }

    .checkbox:checked ~ .check-wrapper>.checke:last-of-type{
        transform: rotate(-45deg)  translate(1px, -3px);
    }

    .checkbox:checked ~ .check-wrapper>.checke:nth-child(2){
        display: none;
    }

    .checkbox:checked ~ .header-nav-menu{
        display: block;
        position: fixed;
        background: #F3C6BD;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .header-nav-menu{
        text-align: center;
    }

    .header-nav-menu-ul{
        margin-top: 10%;
        margin-right: 0;
    }

    .header-li:first-child{
        margin-right: 0;
        display: block;
    }



    .header-wraper{
        display: block;
        position: static;
        padding-bottom: 0;
    }

    .header-wraper > div:last-of-type{
        position: static;
        margin-top: 40px;
    }

    .header-wraper > div:last-of-type img{
        width: 100%;
    }



    .what_is_it_about-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .what_is_it_about-container > div:nth-child(1){
        margin-bottom: 20px;
    }

    .what_is_it_about {
        padding: 30px 0;
    }

    
    .logo_brend-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .logo_brend-container > img{
        margin: 0 auto;
    }
    



    .easily_find-sait_img{
        display: none;
    }

    .easily_find-sait_img_too{
        display: block;
        margin-top: 65px;
        text-align: center;
    }

    .easily_find-eyes_img{
        top: 25%;
    }

    .easily_find-text-box > div:first-child{
        text-align: center;
    }

    .easily_find-items{
        max-width: 430px;
        margin: 0 auto;
    }



    .manage-title, .manage-text{
        margin: 0 auto;
    }

    .manage-title{
        margin-bottom: 12px;
    }


    .manage-container{
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
    }

    .manage-fase-text_text{
        text-align: left;

    }

    .manage-line{
        margin-bottom: 75px;
    }

    .manage-container-text > div:last-child{
        margin-bottom: 60px;
    }



    .busy{
        padding: 80px 0;
    }

    .busy-flex{
        flex-direction: column;
    }

    .busy-text{
        text-align: center;
    }

    .title-inner{
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .busy-text > div{
        margin-bottom: 37px;
    }

    .info-p{
        max-width: 260px;
    }

    .info-flex{
        display: grid;
        grid-template-areas:
        "one"
        "two"
        "three";
        justify-content: center;
        text-align: center;
    }

    .info-p{
        max-width: 360px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .info-flex > div:nth-child(1){
        grid-area: one;
    }
    .info-flex > div:nth-child(2){
        grid-area: two;
        display: none;
    }
    .info-flex > div:nth-child(3){
        grid-area: three;
        display: none;
    }


    .wrapper_understand{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 64px;
        row-gap: 34px;
        width: 588px;
        margin: 0 auto;
    }

    .item_img_understand > div{
        width: 212px;
        height: 245px;
        align-items: center;
        text-align: center;
    }



    .businesses_info > p:first-child{
        max-width: 520px;
        margin: 0 auto;
        margin-bottom: 14px;
    }

    .businesses_info > p:last-child{
        max-width: 600px;
    }

    .businesses_img {
        position: static;
        transform: translate(0%, 0%);
        text-align: center;
    }



    .grid-container{
        display: grid;
        grid-template-areas: 
        "one three"
        "two three"
        "four five"
        "four six";
    }

    .grid-container > img:nth-child(7){
        grid-area: seven;
        display: none;
    }




    .free-flex{
        flex-direction: column-reverse;
    }

    .free-title{
        text-align: center;
        max-width: 270px;
        margin: 0 auto 51px;
    }

    .free-text{
        max-width: 590px;
        text-align: center;
        margin: 0 auto 35px;
    }

    .free-input-adapt{
        max-width: 290px;
    }

    .free-button-adapt{
        width: 290px;
        padding: 18px 28px;
    }

    @keyframes img{
        0%{
            top: 0;
        }
        25%{
            top: 25px;
        }
        50%{
            top: 40px;
        }
        25%{
            top: 25px;
        }
        100%{
            top: 0;
        }
    }





    .footer-info, .footer-info-logo{
        flex-direction: column;
    }

    .footer-info-logo > div:first-child{
        margin-right: 0;
        margin-bottom: 15px;
    }

    .footer-info-logo > div:last-child{
        text-align: center;
    }

    .after-logo-text{
        text-align: center;
        margin: 0 auto;
    }

    .footer-black-link{
        text-align: center;
    }

    .footer-list{
        display: none;
    }

    .footer-lists-adapt{
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }
    
    .footer-lists-adapt > div:last-child{
        text-align: end;
    }



}




@media(max-width: 420px){
    
    .container{
        max-width: 320px;
    }


    .header-wraper{
        margin: 0 auto;
    }

    .title{
        Font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.3125px;
        max-width: 290px;
    }

    .header-text{
        font-size: 24px;
        line-height: 34px;
        max-width: 290px;
    }

    .button-container{
        text-align: center;
    }

    .button-container > .button{
        width: 290px;
    }

    .button-container > .button:last-child{
        margin-left: 0;
    }



    .what_is_it_about-container > div{
        max-width: 290px;
    }


    .logo_brend-container > img{
        width: 107px;
        height: 94px;
    }



    .easily_find-eyes_img{
        display: none;
    }

    .easily_find-text-box > div:first-child{
        margin-bottom: 30px;
    }

    .easily_find-sait_img_too img{
        width: 290px;
        height: 240px;
    }

    .easily_find-sait_img_too{
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .easily_find-items > p{
        height: 84px;
    }






    .manage-container{
        flex-direction: column;
    }

    .manage-img{
        height: 348px;
        width: 290px;
    }

    .manage-title{
        font-size: 40px;
        line-height: 40px;
        max-width: 290px;
        text-align: left;
    }

    .manage-text{
        max-width: 290px;
        text-align: left;
    }

    .manage-container-text > div:last-child{
        max-width: 290px;
    }

    .manage-text-small{
        text-align: left;
    }



    .busy-text{
        text-align: left;
    }

    


    .info-flex{
        display: grid;
        grid-template-areas:
        "one"
        "two"
        "three";
        justify-content: center;
        text-align: left;
        max-width: 290px;
    }

    .info-flex > div:nth-child(1){
        grid-area: one;
        display: block;
        margin-bottom: 30px;
    }
    .info-flex > div:nth-child(2){
        grid-area: two;
        display: block;
        margin-bottom: 30px;
    }
    .info-flex > div:nth-child(3){
        grid-area: three;
        display: block;
    }


    .engage{
        margin-bottom: -20px;
    }

    .understand{
        width: 300px;
        font-size: 40px;
        line-height: 40px;
    }

    .early_text{
        width: 300px;
    }

    .button_understand{
        display: flex;
        flex-direction: column;
    }

    .button_understand > .button:nth-child(1){
        margin-bottom: 10px;
    }
    
    .wrapper_understand{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        row-gap: 15px;
        max-width: 262px;
    }



    .businesses_info > p{
        text-align: start;
    }

    .businesses_info > p:first-child{
        font-size: 24px;
        line-height: 30px;
    }

    .businesses_info > p:last-child{
        font-size: 24px;
        line-height: 34px;
    }

    .slick-list{
        text-align: start;
    }



    .grid-container{
        display: grid;
        grid-template-areas: 
        "one"
        "four"
        "three"
        "five"
        "six";
        gap: 17px;
    }
    
    .grid-container > img:nth-child(1){
        grid-area: one;
    }
    
    .grid-container > img:nth-child(2){
        grid-area: two;
        display: none;
    }
    
    .grid-container > img:nth-child(3){
        grid-area: three;
    }
    
    .grid-container > img:nth-child(4){
        grid-area: four;
    }
    
    .grid-container > img:nth-child(5){
        grid-area: five;
    }
    
    .grid-container > img:nth-child(6){
        grid-area: six;
    }
    
    .grid-container > img:nth-child(7){
        grid-area: seven;
        display: none;
    }




    .free-flex{
        display: flex;
        flex-direction: column;
    }

    .free-title, .free-text{
        text-align: left;
        margin: 40px 0 18px;
    }

    .free-input-adapt::placeholder{
        text-align: center;
    }
    
    .free-input-adapt{
        margin-bottom: 12px;
    }

    @keyframes img{
        0%{
            top: 0;
        }
        25%{
            top: -25px;
        }
        50%{
            top: -40px;
        }
        25%{
            top: -25px;
        }
        100%{
            top: 0;
        }
    }





    .after-logo-text{
        display: none;
    }

    .footer-hr{
        display: none;
    }

    .footer-lists-adapt{
        display: none;
    }

    .footer-list{
        display: block;
    }

    .footer-title{
        padding-top: 30px;
    }

    .footer-bottom-flex{
        flex-direction: column;
        align-items: flex-start;
    }

    .icon-bottom{
        margin-top: 30px;
    }
    
    
}